@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-0 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#header3-39 SMALL {
  font-size: 36px;
}
#msg-box3-2t .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header3-1x B {
  font-size: 15px;
}
#header3-3d B {
  font-size: 15px;
}
#header3-5c B {
  font-size: 15px;
}

#ext_menu-6 .navbar-toggler {
  color: #000;
}
#ext_menu-6 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-h .navbar-toggler {
  color: #000;
}
#ext_menu-h .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-i .navbar-toggler {
  color: #000;
}
#ext_menu-i .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-j .navbar-toggler {
  color: #000;
}
#ext_menu-j .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-k .navbar-toggler {
  color: #000;
}
#ext_menu-k .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-l .navbar-toggler {
  color: #000;
}
#ext_menu-l .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-m .navbar-toggler {
  color: #000;
}
#ext_menu-m .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-o .navbar-toggler {
  color: #000;
}
#ext_menu-o .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-p .navbar-toggler {
  color: #000;
}
#ext_menu-p .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-q .navbar-toggler {
  color: #000;
}
#ext_menu-q .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-r .navbar-toggler {
  color: #000;
}
#ext_menu-r .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-s .navbar-toggler {
  color: #000;
}
#ext_menu-s .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-t .navbar-toggler {
  color: #000;
}
#ext_menu-t .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-u .navbar-toggler {
  color: #000;
}
#ext_menu-u .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-v .navbar-toggler {
  color: #000;
}
#ext_menu-v .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-w .navbar-toggler {
  color: #000;
}
#ext_menu-w .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-x .navbar-toggler {
  color: #000;
}
#ext_menu-x .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-1q .navbar-toggler {
  color: #000;
}
#ext_menu-1q .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-y .navbar-toggler {
  color: #000;
}
#ext_menu-y .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-z .navbar-toggler {
  color: #000;
}
#ext_menu-z .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-10 .navbar-toggler {
  color: #000;
}
#ext_menu-10 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-f .navbar-toggler {
  color: #000;
}
#ext_menu-f .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-e .navbar-toggler {
  color: #000;
}
#ext_menu-e .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-11 .navbar-toggler {
  color: #000;
}
#ext_menu-11 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-g .navbar-toggler {
  color: #000;
}
#ext_menu-g .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3e .navbar-toggler {
  color: #000;
}
#ext_menu-3e .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3f .navbar-toggler {
  color: #000;
}
#ext_menu-3f .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3g .navbar-toggler {
  color: #000;
}
#ext_menu-3g .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3q .navbar-toggler {
  color: #000;
}
#ext_menu-3q .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3h .navbar-toggler {
  color: #000;
}
#ext_menu-3h .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3r .navbar-toggler {
  color: #000;
}
#ext_menu-3r .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3s .navbar-toggler {
  color: #000;
}
#ext_menu-3s .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3i .navbar-toggler {
  color: #000;
}
#ext_menu-3i .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3z .navbar-toggler {
  color: #000;
}
#ext_menu-3z .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-40 .navbar-toggler {
  color: #000;
}
#ext_menu-40 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-41 .navbar-toggler {
  color: #000;
}
#ext_menu-41 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-42 .navbar-toggler {
  color: #000;
}
#ext_menu-42 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-43 .navbar-toggler {
  color: #000;
}
#ext_menu-43 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-44 .navbar-toggler {
  color: #000;
}
#ext_menu-44 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-45 .navbar-toggler {
  color: #000;
}
#ext_menu-45 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-46 .navbar-toggler {
  color: #000;
}
#ext_menu-46 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-47 .navbar-toggler {
  color: #000;
}
#ext_menu-47 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-48 .navbar-toggler {
  color: #000;
}
#ext_menu-48 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-49 .navbar-toggler {
  color: #000;
}
#ext_menu-49 .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4a .navbar-toggler {
  color: #000;
}
#ext_menu-4a .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4b .navbar-toggler {
  color: #000;
}
#ext_menu-4b .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4c .navbar-toggler {
  color: #000;
}
#ext_menu-4c .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4d .navbar-toggler {
  color: #000;
}
#ext_menu-4d .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4e .navbar-toggler {
  color: #000;
}
#ext_menu-4e .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4f .navbar-toggler {
  color: #000;
}
#ext_menu-4f .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4g .navbar-toggler {
  color: #000;
}
#ext_menu-4g .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4h .navbar-toggler {
  color: #000;
}
#ext_menu-4h .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4i .navbar-toggler {
  color: #000;
}
#ext_menu-4i .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4j .navbar-toggler {
  color: #000;
}
#ext_menu-4j .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4k .navbar-toggler {
  color: #000;
}
#ext_menu-4k .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4l .navbar-toggler {
  color: #000;
}
#ext_menu-4l .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4m .navbar-toggler {
  color: #000;
}
#ext_menu-4m .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4n .navbar-toggler {
  color: #000;
}
#ext_menu-4n .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4o .navbar-toggler {
  color: #000;
}
#ext_menu-4o .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4p .navbar-toggler {
  color: #000;
}
#ext_menu-4p .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4q .navbar-toggler {
  color: #000;
}
#ext_menu-4q .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-4r .navbar-toggler {
  color: #000;
}
#ext_menu-4r .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-3t .navbar-toggler {
  color: #000;
}
#ext_menu-3t .nav-link {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
